1.

In [6]:
print("The NIFTY 50 is a benchmark Indian stock market index, \nthat represents the weighted average of 50 of the largest Indian companies, \nlisted on the National Stock Exchange.")

The NIFTY 50 is a benchmark Indian stock market index,
that represents the weighted average of 50 of the largest Indian companies,
listed on the National Stock Exchange.

2.

In [7]:
import sys

print("Python version")
print(sys.version)

Python version
3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

3.

In [1]:
from datetime import datetime
now = datetime.now()
print(now)

2023-03-29 12:38:01.193869

4.

In [2]:
fst_name = input("First Name: ")
lst_name = input("Last Name: ")
output = lst_name+" "+fst_name
print(output)

First Name: Abinash
Last Name: Dash
Dash Abinash

5.

In [13]:
file_name = input("Write File Name ")
lst = file_name.split(".")
print(lst[1])

Write File Name abcd.ipynb
ipynb

6.

In [3]:
date1_str = input("Enter the first date (in YYYY-MM-DD format): ")
date2_str = input("Enter the second date (in YYYY-MM-DD format): ")

# Convert the input strings to datetime objects
date1 = datetime.strptime(date1_str, "%Y-%m-%d")
date2 = datetime.strptime(date2_str, "%Y-%m-%d")

# Calculate the number of days between the two dates
delta = date2 - date1
days = delta.days

#print
print(days)

Enter the first date (in YYYY-MM-DD format): 2023-03-30
Enter the second date (in YYYY-MM-DD format): 2023-06-27
89

7.

In [8]:
import math
radius = 6
volume = 4/3*math.pi*radius**3
print("volume: ",volume)

volume:  904.7786842338603

8.

In [10]:
l = ["Hello", "sir!", "I", "like", "the", "way", "you", "teach!!!"]
concatenate = ""
for i in l:
    concatenate+=i+" "
    
print(concatenate)

Hello sir! I like the way you teach!!!

9.

In [15]:
base = int(input("base: "))
height = int(input("height: "))
area = (1/2)*base*height
print("Area: ",area)

base: 10
height: 10
Area:  50.0

10.

In [18]:
n1 = 7
n2 = 5
lcm = n1*n2 // math.gcd(n1,n2)
print(lcm)

35

11.

In [23]:
a = 10
b = 10

def add_integers(a, b):
    if isinstance(a, int) and isinstance(b, int):
        return a + b
    else:
        return "Error: Both objects should be integers"
    
print(add_integers(a,b))
print(add_integers(a,"10"))

20
Error: Both objects should be integers

12.

In [30]:
kpa = float(input("Input pressure in in kilopascals> "))
psi = kpa / 6.89475729
mmhg = kpa * 760 / 101.325
atm = kpa / 101.325
print(f"pounds per square inch: {psi}")
print(f"millimeter of mercury: {mmhg}")
print(f"Atmosphere pressure: {atm}")

Input pressure in in kilopascals> 100
pounds per square inch: 14.503773779685869
millimeter of mercury: 750.0616827041697
Atmosphere pressure: 0.9869232667160128

13.

In [34]:
str1 = "123452500" # True.
def is_numeric(str):  
    if str.isnumeric() == True:
        print("Numeric")
    else:
        print("Not numeric")
str2 = "123-4525-00" # False.

is_numeric(str1)
is_numeric(str2)

Numeric
Not numeric

14.

In [37]:
num = 15
print("divisible by 15: ",15*2)
print("divisible by 15: ",15*3)
print("divisible by 15: ",15*4)

divisible by 15:  30
divisible by 15:  45
divisible by 15:  60

15.

In [38]:
# hex() function is one of the built-in functions in Python3

print("The hexadecimal form of 69 is "
	+ hex(69))

The hexadecimal form of 69 is 0x45